@media all and (min-width: 900px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .menu {
    padding: 0 3rem;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__logo {
      order: 0;
      padding: 0rem 1.5rem;
    }

    &__toggle {
      display: none;
    }

    &__items {
      display: flex;
      justify-content: space-around;
      width: auto;
      border: none;
      padding: 0rem;
    }

    &__item {
      margin: 0 1.5rem;
    }
  }

  .hero {
    &__drip {
      margin-top: 7.8rem;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin: 3rem 5% 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__heading {
      text-align: left;
    }

    &__description {
      margin: 3rem 0;
      text-align: left;
      width: 90%;
    }

    &__buttons {
      flex-direction: row;
      margin: 0;
    }

    &__image {
      margin: 0;
    }

    &__primary,
    &__secondary {
      margin: 0;
      padding: 1.6rem 4rem;
    }

    &__primary {
      margin-left: 4rem;
    }

    &__scroll {
      position: relative;
      top: -2rem;
      width: 40%;
      margin-left: 33rem;
      max-width: 67rem;
      margin-bottom: 12rem;
    }
  }

  .process {
    // TOUBLE SHOOTING
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;

    &__title {
      margin-bottom: 1rem;
      font-size: $font-large;
      color: $color-dark-honey;
      font-weight: $font-bold;
    }

    &__container {
      // TOUBLE SHOOTING
      // border: 2px dashed black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.card {
  box-shadow: 10px 10px 50px rgba($color: #000000, $alpha: 0.1);
  border-radius: $border-radius;
  width: 40rem;
  margin: 6rem 5rem;

  &__title {
    font-size: $font-large;
    padding: 4rem 0 2rem;
    font-weight: $font-bold;
  }

  &__image {
    margin: 2rem 0 3rem;
    width: 50%;
    max-width: 17.5rem;
  }

  &__heading {
    font-size: $font-medium;
    font-weight: $font-bold;
  }

  &__description {
    line-height: $font-spaced;
    margin: 3.4rem;
  }

  &__link {
    color: $color-white;
    font-size: $font-medium;
    font-weight: $font-bold;
    background-color: $color-dark-honey;
    padding: 1.6rem 3.8rem;
    border-radius: $border-radius;
    margin-bottom: 3rem;
    display: inline-block;
  }
}

@media all and (min-width: 990px) {
  .hero {
    &__scroll {
      margin-left: 30rem;
      top: -4rem;
    }
  }
}

@media all and (min-width: 1100px) {
  .hero {
    &__image {
      width: 400px;
    }

    &__description {
      margin: 6rem 0;
      width: 80%;
    }

    &__scroll {
      margin-left: 25rem;
      top: -2rem;
    }
  }
}

@media all and (min-width: 1200px) {
  .hero {
    &__scroll {
      margin-left: 15rem;
      top: -3rem;
    }
  }
}

@media all and (min-width: 1300px) {
  .hero {
    &__description {
      margin: 6rem 0;
      width: 42%;
    }

    &__scroll {
      margin-left: 10rem;
      top: -3.5rem;
    }
  }
}

@media all and (min-width: 1400px) {
  .hero {
    &__scroll {
      margin-left: 10rem;
      top: -4rem;
      left: -5rem;
    }
  }
}
