@import "variables";

.container {
  min-width: 33rem;
  width: 100vw;
}

header {
  nav {
    background-color: $color-dark-honey;
    position: fixed;
    z-index: 900;
    width: 100vw;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-white;

  a {
    color: $color-white;
    display: block;
    margin: 1.5rem 0;
  }

  li {
    list-style: none;
    white-space: nowrap;
  }

  &__items {
    display: none;
    order: 2;
    padding: 2rem 0;
    width: 100%;
    border-top: 0.1rem solid white;

    &--display {
      display: initial;
    }
  }

  &__item {
    text-align: center;

    &:hover {
      background: #444;
    }
  }

  &__toggle {
    order: 1;
    padding: 0 2rem;

    &:hover {
      cursor: pointer;
    }

    a {
      text-align: center;
    }
  }

  &__toggle,
  &__logo {
    font-size: $font-medium;
  }

  &__logo a {
    display: flex;
    padding-left: 2rem;

    p {
      padding-left: 2rem;
      font-weight: $font-bold;
    }

    span {
      font-size: $font-medium;
      color: $color-honey;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__drip {
    margin-top: 6.6rem;
    width: 100%;
  }

  &__heading {
    margin-top: 1.5rem;
    font-size: $font-large;
    font-weight: $font-bold;
  }

  &__description {
    text-align: center;
    margin: 4rem 2rem;
    line-height: $font-spaced;
  }

  &__secondary,
  &__primary {
    padding: 1.6rem 8rem;
    border-radius: $border-radius;
    color: $color-dark-honey;
    font-weight: $font-bold;
    font-size: $font-medium;
  }

  &__secondary {
    margin-bottom: 4rem;
    border: 0.1rem solid $color-dark-honey;
  }

  &__primary {
    background-color: $color-honey;
  }

  &__image {
    margin: 6rem 0 12rem;
    width: 26rem;
    height: auto;
  }
}

.tour {
  text-align: center;
  margin: 0 2.4rem 12rem;

  &__title {
    margin: 12rem 0 4rem;
    font-size: $font-large;
    font-weight: $font-bold;
  }

  &__card {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    background-color: $color-dark-honey;
    border-radius: $border-radius;
    color: $color-white;
  }

  &__image {
    margin: 4rem 0;
    width: 50%;
    max-width: 20rem;
  }

  &__heading {
    font-size: $font-medium;
    font-weight: $font-bold;
  }

  &__description {
    margin: 4rem 5rem;
    line-height: $font-spaced;
  }

  &__price {
    font-size: $font-large;
    font-weight: $font-bold;
  }

  &__link {
    display: inline-block;
    font-weight: $font-bold;
    color: $color-dark-honey;
    background-color: $color-honey;
    padding: 1.6rem 5rem;
    border-radius: $border-radius;
    margin: 4rem 0;
  }
}

.certified {
  background-color: $color-dark-honey;
  text-align: center;
  color: $color-white;
  position: relative;
  top: -8px;
  height: 100%;

  &__splash {
    background-color: $color-white;
    width: 102vw;
    z-index: 2000;
  }

  &__image {
    margin-top: 1rem;
    width: 50%;
    max-width: 17.5rem;
  }

  &__heading {
    margin: 4rem 2.4rem;
    font-size: $font-large;
    font-weight: $font-bold;
  }

  &__description {
    margin: 0 5rem;
    padding-bottom: 12rem;
    line-height: $font-spaced;
  }
}

footer {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: $color-dark-honey;
  text-align: center;
  color: $color-white;
}

.address {
  font-weight: $font-bold;

  &__heading {
    color: $color-honey;
    font-size: $font-large;
  }

  &__description {
    margin-top: 3rem;
    font-size: $font-medium;
  }
}

.contact,
.social {
  font-weight: $font-bold;

  &__heading {
    color: $color-honey;
    font-size: $font-large;
  }

  &__link {
    margin-top: 3rem;
    display: block;
    font-size: $font-medium;
    color: $color-white;
  }
}

.cartoon {
  &__image {
    width: 90%;
    max-width: 380px;
  }
}
