@import "variables";

header {
  nav {
    background-color: $color-dark-honey;
    position: fixed;
    z-index: 900;
    width: 100vw;
    padding: 0 2rem;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    display: block;
    padding: 1.5rem;
  }

  li {
    list-style: none;
    white-space: nowrap;
  }

  &__items {
    display: none;
    order: 2;
    padding: 2rem 0;
    width: 100%;
    border-top: 0.1rem solid white;

    &--display {
      display: initial;
    }
  }

  &__item {
    text-align: center;

    &:hover {
      background: #444;
    }
  }

  &__toggle {
    order: 1;

    &:hover {
      cursor: pointer;
    }

    a {
      text-align: center;
    }
  }

  &__toggle,
  &__logo {
    font-size: $font-medium;
  }

  &__logo a {
    display: flex;

    p {
      padding-left: 4rem;
    }

    span {
      font-size: $font-medium;
      color: $color-honey;
      font-weight: $font-bold;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__drip {
    margin-top: 6.6rem;
    width: 100%;
  }

  &__heading {
    margin-top: 1.5rem;
    font-size: $font-large;
    font-weight: $font-bold;
  }

  &__description {
    text-align: center;
    margin: 4rem 2rem;
    line-height: $font-spaced;
  }

  &__secondary,
  &__primary {
    padding: 1.6rem 8rem;
    border-radius: $border-radius;
    color: $color-dark-honey;
    font-weight: $font-bold;
    font-size: $font-medium;
  }

  &__secondary {
    margin-bottom: 4rem;
    border: 0.1rem solid $color-dark-honey;
  }

  &__primary {
    background-color: $color-honey;
  }

  &__image {
    margin: 6rem 0 12rem;
    width: 26rem;
    height: auto;
  }
}

.tour {
  &__title {
    font-size: 3.6rem;
    font-weight: 600;
  }

  &__card {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    background-color: $color-dark-honey;
    border-radius: 4rem;
    color: $color-white;
    text-align: center;
  }

  &__image {
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__description {
    line-height: 3rem;
  }

  &__price {
    font-size: 3.6rem;
    font-weight: 600;
  }

  &__link {
    font-weight: 600;
    color: $color-dark-honey;
    background-color: $color-honey;
    padding: 1.6rem 5rem;
    border-radius: 5rem;
  }
}

.certified {
  background-color: $color-dark-honey;
  text-align: center;
  color: $color-white;

  &__splash {
    margin-top: -5.5rem;
    width: 100%;
  }

  &__image {
  }

  &__heading {
    font-size: 3.6rem;
    font-weight: 600;
  }

  &__description {
    line-height: 3rem;
  }
}

footer {
  top: 0.5rem;
  position: relative;
  background-color: $color-dark-honey;
  text-align: center;
}

.address {
  &__heading {
    color: $color-honey;
    font-size: 3.6rem;
  }

  &__description {
    color: $color-white;
  }
}

.contact,
.social {
  &__heading {
    color: $color-honey;
    font-size: 3.6rem;
  }

  &__link {
    color: $color-white;
  }
}

.cartoon {
  &__image {
  }
}
