@import "variables";

div .swiper-container {
  // TOUBLE SHOOTING
  //   border: solid 1px black;
  height: auto;
}

div .swiper-slide {
  // adjust width of slides
  text-align: center;
  background: $color-white;
  border-radius: $border-radius;
  width: 80%;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  margin: 2rem 0;
}

div .swiper-wrapper {
  width: 100vw;
}

div .swiper-pagination {
  position: initial;
  margin-bottom: 4rem;
}

div .swiper-pagination-bullet {
  margin: 0 0.5rem;
  background: $color-dark-honey;
  height: 1rem;
  width: 1rem;
  transition: ease-in-out 0.3s;

  &-active {
    width: 3rem;
    border-radius: 1rem;
    height: 1rem;
  }
}

.swiper {
  // TOUBLE SHOOTING
  //   border: 2px dashed black;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $color-honey;
  text-align: center;

  &__title {
    font-size: $font-large;
    padding: 4rem 0 2rem;
    font-weight: $font-bold;
  }

  &__image {
    margin: 2rem 0 3rem;
    width: 50%;
    max-width: 17.5rem;
  }

  &__heading {
    font-size: $font-medium;
    font-weight: $font-bold;
  }

  &__description {
    line-height: $font-spaced;
    margin: 3.4rem;
  }

  &__link {
    color: $color-white;
    font-size: $font-medium;
    font-weight: $font-bold;
    background-color: $color-dark-honey;
    padding: 1.6rem 3.8rem;
    border-radius: $border-radius;
    margin-bottom: 3rem;
    display: inline-block;
  }
}
