// VARIABLES

$color-honey: #ffc639;
$color-dark-honey: #302e26;
$color-white: #fff;
$font-large: 3.6rem;
$font-medium: 2.4rem;
$font-small: 1.8rem;
$font-bold: 600;
$font-spaced: 3rem;
$border-radius: 4rem;
