@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #302e26;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.button:hover {
  background-color: #302e26;
  color: #ffc639;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.container {
  min-width: 33rem;
  width: 100vw;
}

header nav {
  background-color: #302e26;
  position: fixed;
  z-index: 900;
  width: 100vw;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

.menu a {
  color: #fff;
  display: block;
  margin: 1.5rem 0;
}

.menu li {
  list-style: none;
  white-space: nowrap;
}

.menu__items {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 2rem 0;
  width: 100%;
  border-top: 0.1rem solid white;
}

.menu__items--display {
  display: initial;
}

.menu__item {
  text-align: center;
}

.menu__item a {
  padding: 1rem 1.5rem;
}

.menu__item a:hover {
  background: #444;
}

.menu__toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 2rem;
  margin-right: 1em;
}

.menu__toggle:hover {
  cursor: pointer;
}

.menu__toggle a {
  text-align: center;
}

.menu__toggle, .menu__logo {
  font-size: 2.4rem;
}

.menu__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.menu__logo a p {
  padding-left: 2rem;
  font-weight: 600;
}

.menu__logo a span {
  font-size: 2.4rem;
  color: #ffc639;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__drip {
  margin-top: 6.6rem;
  width: 100%;
}

.hero__heading {
  margin-top: 1.5rem;
  font-size: 3.6rem;
  font-weight: 600;
}

.hero__description {
  text-align: center;
  margin: 4rem 2rem;
  line-height: 3rem;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 3rem;
}

.hero__secondary, .hero__primary {
  padding: 1.6rem 8rem;
  border-radius: 4rem;
  color: #302e26;
  font-weight: 600;
  font-size: 2.4rem;
}

.hero__secondary {
  margin-bottom: 4rem;
  border: 0.1rem solid #302e26;
}

.hero__primary {
  background-color: #ffc639;
}

.hero__image {
  margin: 6rem 0 12rem;
  width: 26rem;
  height: auto;
}

.tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2.4rem 12rem;
  text-align: center;
}

.tour__title {
  margin: 12rem 0 4rem;
  font-size: 3.6rem;
  font-weight: 600;
}

.tour__card {
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #302e26;
  border-radius: 4rem;
  color: #fff;
  width: 80%;
}

.tour__image {
  margin: 4rem 0;
  width: 50%;
  max-width: 20rem;
}

.tour__heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.tour__description {
  margin: 4rem 5rem;
  line-height: 3rem;
}

.tour__price {
  font-size: 3.6rem;
  font-weight: 600;
}

.tour__link {
  display: inline-block;
  font-weight: 600;
  color: #302e26;
  background-color: #ffc639;
  padding: 1.6rem 5rem;
  border-radius: 4rem;
  margin: 4rem 0;
}

.tour__link:hover {
  background-color: #fff;
  color: #302e26;
}

.certified {
  background-color: #302e26;
  text-align: center;
  color: #fff;
  position: relative;
  top: -8px;
  height: 100%;
}

.certified__splash {
  background-color: #fff;
  width: 100%;
  z-index: 2000;
}

.certified__image {
  margin-top: 1rem;
  width: 50%;
  max-width: 17.5rem;
}

.certified__heading {
  margin: 4rem 2.4rem;
  font-size: 3.6rem;
  font-weight: 600;
}

.certified__description {
  margin: 0 5rem;
  padding-bottom: 12rem;
  line-height: 3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #302e26;
  text-align: center;
  color: #fff;
}

.address {
  font-weight: 600;
  margin: 9rem 1rem;
}

.address__heading {
  color: #ffc639;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.address__description {
  font-size: 2.4rem;
}

.address__link {
  display: block;
  font-size: 2.4rem;
  color: #fff;
}

.address__link p {
  margin-top: 3rem;
}

.contact,
.social {
  margin: 0 1rem 9rem;
  font-weight: 600;
}

.contact__heading,
.social__heading {
  color: #ffc639;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.contact__link,
.social__link {
  margin-top: 3rem;
  display: block;
  font-size: 2.4rem;
  color: #fff;
}

.cartoon {
  margin-top: 15rem;
  width: 100%;
}

.cartoon__image {
  width: 90%;
  max-width: 380px;
}

div .swiper-container {
  height: auto;
}

div .swiper-slide {
  text-align: center;
  background: #fff;
  border-radius: 4rem;
  width: 80%;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  margin: 2rem 0;
}

div .swiper-wrapper {
  width: 100vw;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

div .swiper-pagination {
  position: initial;
  margin-bottom: 4rem;
}

div .swiper-pagination-bullet {
  margin: 0 0.5rem;
  background: #302e26;
  height: 1rem;
  width: 1rem;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

div .swiper-pagination-bullet-active {
  width: 3rem;
  border-radius: 1rem;
  height: 1rem;
}

.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-color: #ffc639;
  text-align: center;
}

.swiper__title {
  font-size: 3.6rem;
  padding: 4rem 0 2rem;
  font-weight: 600;
}

.swiper__image {
  margin: 2rem 0 3rem;
  height: 20%;
  max-width: 17.5rem;
}

.swiper__heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.swiper__description {
  line-height: 3rem;
  margin: 3.4rem;
}

.swiper__link {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  background-color: #302e26;
  padding: 1.6rem 3.8rem;
  border-radius: 4rem;
  margin-bottom: 3rem;
  display: inline-block;
}

@media all and (min-width: 900px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .menu {
    padding: 0 3rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0rem 1.5rem;
  }
  .menu__toggle {
    display: none;
  }
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
    border: none;
    padding: 0rem;
  }
  .menu__item {
    margin: 0 1.5rem;
  }
  .hero__drip {
    margin-top: 7.8rem;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin: 3rem 5% 0;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero__heading {
    text-align: left;
  }
  .hero__description {
    margin: 3rem 0;
    text-align: left;
    width: 90%;
  }
  .hero__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .hero__image {
    margin: 0;
  }
  .hero__primary, .hero__secondary {
    margin: 0;
    padding: 1.6rem 4rem;
  }
  .hero__primary {
    margin-left: 4rem;
  }
  .hero__scroll {
    position: relative;
    top: -2rem;
    width: 40%;
    margin-left: 33rem;
    max-width: 67rem;
    margin-bottom: 12rem;
  }
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process__title {
    margin-bottom: 1rem;
    font-size: 3.6rem;
    color: #302e26;
    font-weight: 600;
  }
  .process__container {
    max-width: 199rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 4rem;
    width: 40rem;
    margin: 6rem 5rem;
    background-color: white;
  }
  .card__title {
    font-size: 3.6rem;
    padding: 4rem 0 2rem;
    font-weight: 600;
  }
  .card__image {
    margin: 2rem 0 3rem;
    width: 50%;
    max-width: 17.5rem;
  }
  .card__heading {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .card__description {
    line-height: 3rem;
    margin: 3.4rem;
  }
  .card__link {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: #302e26;
    padding: 1.6rem 3.8rem;
    border-radius: 4rem;
    margin-bottom: 3rem;
    display: inline-block;
  }
  .tour__card {
    width: 40rem;
    z-index: 40;
  }
  .tour__background {
    width: 95vw;
    position: absolute;
    top: 430rem;
    z-index: -1;
    max-width: 165rem;
  }
  .certified {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .certified__image {
    max-width: 23.5rem;
    width: 15%;
  }
  .footer {
    text-align: left;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 10rem;
  }
  .footer .address {
    padding: 0;
    margin: 0;
  }
  .footer .contact {
    padding: 0;
    margin: 0;
  }
  .footer .social {
    padding: 0;
    margin: 0;
  }
  .footer .cartoon {
    text-align: center;
  }
}

@media all and (min-width: 990px) {
  .hero__scroll {
    margin-left: 30rem;
    top: -4rem;
  }
}

@media all and (min-width: 1000px) {
  .tour__background {
    top: 300rem;
    width: 90vw;
  }
  .certified__description {
    margin: 0 8rem;
  }
}

@media all and (min-width: 1100px) {
  .hero__image {
    width: 400px;
  }
  .hero__description {
    margin: 6rem 0;
    width: 80%;
  }
  .hero__scroll {
    margin-left: 25rem;
    top: -2rem;
  }
  .tour__background {
    top: 310rem;
  }
}

@media all and (min-width: 1200px) {
  .hero__scroll {
    margin-left: 15rem;
    top: -3rem;
  }
  .tour__background {
    top: 315rem;
  }
  .certified {
    padding-bottom: 8rem;
  }
}

@media all and (min-width: 1300px) {
  .hero__description {
    margin: 6rem 0;
    width: 42%;
  }
  .hero__scroll {
    margin-left: 10rem;
    top: -3.5rem;
  }
  .tour__background {
    width: 85vw;
    top: 325rem;
  }
  .certified {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15rem;
  }
  .certified__heading {
    margin: 0 0 3rem;
  }
  .certified__description {
    margin: 0;
    padding: 0;
  }
  .certified__container {
    padding-left: 5rem;
    width: 70%;
  }
}

@media all and (min-width: 1400px) {
  .hero__scroll {
    margin-left: 10rem;
    top: -4rem;
    left: -5rem;
  }
  .tour__background {
    top: 330rem;
    width: 75vw;
  }
  .certified__container {
    width: 60%;
  }
}

@media all and (min-width: 1500px) {
  .tour__background {
    top: 255rem;
    width: 90vw;
  }
}

@media all and (min-width: 1700px) {
  .certified__container {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */