// GLOBAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: $font-small;
}
a {
  text-decoration: none;
}

@import "mobile-display";
@import "swiper-display";
@import "desktop-display";
